@inject IJSRuntime jsRuntime

@using PatSite.Client.Models

@page "/facebookSpam"
<section class="wrapper style2 fullscreen">
    <h3>Facebook Spam</h3>

    DISCONTINUED
</section>
@code {
    private FacebookLoginModel _loginModel = new FacebookLoginModel();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }
}