@page "/"

<PageTitle>Index</PageTitle>

<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>Patryk Wos</h1>
        <p>
            A site I made to learn Razor. Go see the <a href="ballSimulation">Balls</a>.
        </p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">But I want to see something</a></li>
        </ul>
    </div>
</section>

<section id="one" class="wrapper style5 spotlights">
    <section>
        <a href="ballSimulation" class="image"><img src="images/ballSimulation.jpg" alt="" data-position="center center" /></a>
        <div class="content">
            <div class="inner">
                <h2>Ball simulation</h2>
                <p>Physics based ball simulation written in C# and Blazor (yeah, not very efficient)</p>
                <ul class="actions">
                    <li><a href="ballSimulation" class="button">Let's have a look!</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="https://github.com/Wosiu6/PatAPI/tree/master/PatAPI" class="image"><img src="images/hltbApi.jpg" alt="" data-position="25% 25%" /></a>
        <div class="content">
            <div class="inner">
                <h2>How Long to Beat API</h2>
                <p>I figured out HowLongToBeat.com's API, was not easy since they have no documentation. It was supposed to be embeded and it actually worked, but api hosting is expensive.</p>
                <ul class="actions">
                    <li><a href="https://github.com/Wosiu6/PatAPI/tree/master/PatAPI" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>

<AnchorNavigation />