<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>SWACLI</WebPublishMethod>
    <ResourceId>/subscriptions/511a9ddf-050f-4f9b-81a0-6cb0c745c025/resourceGroups/NetworkWatcherRG/providers/Microsoft.Web/staticSites/PatSite</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishProvider>AzureStaticSite</PublishProvider>
    <Environment>preview</Environment>
    <Source>None</Source>
    <OutputLocation>wwwroot</OutputLocation>
    <SiteUrlToLaunchAfterPublish>https://black-water-0c0b84d03.4.azurestaticapps.net</SiteUrlToLaunchAfterPublish>
    <_TargetId>AzureStaticWebApp</_TargetId>
  </PropertyGroup>
</Project>