<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; Patryk Wos. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a> and Patryk Wos</li>
            <li><a href="https://twitter.com/Wosiu6" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://facebook.com/wosiu6" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/wosiu6/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://www.linkedin.com/in/patryk-wos-68347b17b/" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
            <li><a href="https://open.spotify.com/user/1191514036?si=AuDtOdnzRBS-XOgJsVwYsA" class="icon brands fa-spotify"><span class="label">Spotify</span></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=%20+4407391145158&text=Text%20Patryk%20Wos%20now!" class="icon brands fa-whatsapp"><span class="label">WhatsApp</span></a></li>
            <li><a href="mailto:wos.patryk3@gmail.com" class="icon solid fa-envelope"><span class="label">GMail</span></a></li>
        </ul>
    </div>
</footer>