<!-- Nav -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="ballSimulation">
                        <span class="oi oi-plus" aria-hidden="true"></span> BallSimulation
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</section>
